In [4]:
#1
def ispower(n):
    return n>0 and (n & (n - 1)) == 0
n = 1
print(ispower(n))

True

In [9]:
#2
sum = (n * (n + 1)) / 2
n=6
def sumOfFirstNNumbers(n):
    return (n * (n + 1)) // 2
print(sumOfFirstNNumbers(n))

21

In [10]:
#3
def factorial(N):
    if N == 0 or N == 1:
        return 1
    else:
        return N * factorial(N - 1)
N = 5
print(factorial(N))

120

In [12]:
#4
N = 5
P = 2
result = N ** P
print(result)

25

In [13]:
def find_max(arr, n):
    if n == 1:
        return arr[0]
    else:
        max_val = find_max(arr, n-1)
        if arr[n-1] > max_val:
            return arr[n-1]
        else:
            return max_val

arr = [1, 4, 3, -5, -4, 8, 6]
n = len(arr)
max_element = find_max(arr, n)
print(max_element)

8

In [15]:
def find_nth_term(a, d, N):
    nth_term = a + (N - 1) * d
    return nth_term

a = 2
d = 1
N = 5
result = find_nth_term(a, d, N)
print(f"The {N}th term of the series is: {result}")

The 5th term of the series is: 6

In [17]:
def permute(s):
    if len(s) == 1:
        return [s]

   
    result = []
    for i in range(len(s)):
        char = s[i]
        remaining_chars = s[:i] + s[i+1:]
        permutations = permute(remaining_chars)
        for perm in permutations:
            result.append(char + perm)

    return result

S = "ABC"
permutations = permute(S)
print(permutations)

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']

In [19]:
def product_of_array(arr):
    product = 1
    for num in arr:
        product *= num
    return product

arr = [1, 2, 3, 4, 5]
result = product_of_array(arr)
print(result)

120